# Python Programming: Essentials 1

#### Variables are used to store values. 

#### A string is a series of characters, surrounded by single or double quotes.

Hello world

In [ ]:
print("Hello ") #print() is your first function

Hello world via a variable

In [ ]:
message = "Hello !" # assigning a string to a variable
print(message) # message is a variable



Concatenation (combining strings)

In [1]:
first_name = 'vincent' 
last_name = 'ajayi' 
full_name = first_name + ' ' + last_name +' '
print(full_name)

vincent ajayi

In [2]:
# little funny one: multiply words! 
print(full_name * 5)

vincent ajayi vincent ajayi vincent ajayi vincent ajayi vincent ajayi

In [ ]:
print(first_name , last_name ) # the comma adds a space automatically



## List

A list stores a series of items in a particular order. 

You access items using an index, or within a loop. 
Make a list

In [3]:
bicycles = ['mountain', 'road', 'race', 'penny-farthing']

print(bicycles)

['mountain', 'road', 'race', 'penny-farthing']

In [5]:
addon = ['raleigh' , 'brompton']

bicycles = bicycles + addon # add a list to a list

print(bicycles)

['mountain', 'road', 'race', 'penny-farthing', 'raleigh', 'brompton', 'raleigh', 'brompton']

Get the first item in the list

In [ ]:
first_bike = bicycles[0]  # list[position]
print (first_bike)

In [ ]:
third_bike = bicycles[2]  # list[position]
print (third_bike)

Get the last item in the list

In [ ]:
last_bike = bicycles[-1]
print(last_bike)

In [ ]:
# write code to print the penultimate (i.e. one before last) bike
second_last = bicycles[4]
print(second_last)

In [ ]:
one_b4_last = bicycles[-2]
print(one_b4_last)

# Working with Strings

## split() function

In [9]:
# the function split() cuts a string at specified character position then store the result in a list

sentence = 'UK house prices grew two per cent year on year for September.'

words = sentence.split(' ')

print(words)

['UK', 'house', 'prices', 'grew', 'two', 'per', 'cent', 'year', 'on', 'year', 'for', 'September.']

In [ ]:
url = 'https://www.standard.co.uk/news/politics/brexit-secretary-dominic-raab-quits-his-post-a3990626.html'

elements = url.split('')
print(elements)

In [ ]:
# adapt to get the first and second part from an email address

email = "trainingsupport@pairview.co.uk"

########## your code below#############

parts = email.split('@')
print(parts)

individual = parts[0]
company = parts[-1]
print(individual,company)

In [ ]:
# write code to get the first name and the last name from the full name that 
# can include 1 or many middle names

################your code################
myname = "Elizabeth Alexandra Mary Windsor"

parts = myname.split(' ')
print(parts)

first_name= parts[0]
last_name = parts[-1]
print(first_name,last_name)

In [15]:
''

''

## join() function

In [24]:
# the function join() take a list of strings and concatenate its elements separated by the character passed to it
separator =' '          # ' ' = word in the list
sentence = separator.join(words)

print(sentence)

UK house prices grew two per cent year on year for September.

## strip() function

In [22]:
# the function strip() removes unwanted characters (spaces usually) 
# at the beginning and ending of a string
stri = "0000000@@this is a polluted # string example@@0000000"
clean = stri.strip('0').strip('@') 
print(clean)

# to remove all values before last 0000. Note to remove values before @ you need to remove 000 
# first. Also, strip () is equivalent to strip ('')

this is a polluted # string example

## replace(old_word,new_word) function

In [ ]:
# and now I present you the function replace

In [ ]:
# for in statement
### Looping through a list

In [35]:
bicycles = ['mountain', 'road', 'race', 'penny-farthing']

for word in bicycles: 
    print(word)

mountain
road
race
penny-farthing

In [38]:

bicycles = ['mountain', 'road', 'race', 'penny-farthing']
c = 1
for word in bicycles: 
    print(c, ' :',word)
    c=c+1 
print ('this is outside the loop')

1  : mountain
2  : road
3  : race
4  : penny-farthing
this is outside the loop

In [39]:

bicycles = ['mountain', 'road', 'race', 'penny-farthing']
c = 1
word in bicycles [0]
    print(c, ' :',word)
    c=c+1 
    
word in bicycles [1]
    print(c, ' :',word)
    c=c+1 
    
word in bicycles [2]
    print(c, ' :',word)
    c=c+1 
    
word in bicycles [3]
    print(c, ' :',word)
    c=c+1 
    
word in bicycles [4]
    print(c, ' :',word)
    c=c+1
    
print ('this is outside the loop')

IndentationError: unexpected indent (<ipython-input-39-836e2ed4869d>, line 5)

## range () function

In [43]:
# loop above equivalent to 

for i in range(0,4): #for i = 0 to 3 do in C++
    print(bicycles[i])

mountain
road
race
penny-farthing

In [48]:
for i in range(0,4): 
    print(i)

0
1
2
3

In [51]:
for i in range(1,7): 
    print(i)

1
2
3
4
5
6

In [49]:
for i in range(4):#equilvalent to rang (0,4,1)
    print(i)

0
1
2
3

In [50]:
for i in range(1,7, 2): # the last value is the step follow to print
    print (i)

1
3
5

In [52]:
for i in range(0, 4):
    print(c, ': ',bicycles[i])

5 :  mountain
5 :  road
5 :  race
5 :  penny-farthing

In [45]:
# range function tester

In [ ]:
for number in range(8): # one only attribute = range(0,8)
    print(number)

In [ ]:
for number in range(2,8): # first is start , second the one before
    print(number)

In [ ]:
for number in range(2,8,2): # first is start , second the one before the last # 3rd the step
    print(number)

## Adding items to a list

In [53]:
# add another string
bicycles.append('peugeot')
print(bicycles)

['mountain', 'road', 'race', 'penny-farthing', 'peugeot']

In [7]:
# equivalent to 
bicycles = bicycles  +  ['peugeot']

['mountain', 'road', 'race', 'penny-farthing', 'raleigh', 'brompton', 'raleigh', 'brompton', 'peugeot', 'peugeot', 'peugeot']

In [55]:
# aside: insert
bicycles.insert(2,'BMX') # insert the value of BMX after two element 
print(bicycles)

['mountain', 'road', 'BMX', 'race', 'penny-farthing', 'peugeot', 22]

In [56]:
# add a number!
bicycles.append(22)
print(bicycles)

['mountain', 'road', 'BMX', 'race', 'penny-farthing', 'peugeot', 22, 22]

In [57]:
bicycles.remove('BMX') #removes the 1t instance in the list of the attribute
print(bicycles)

['mountain', 'road', 'race', 'penny-farthing', 'peugeot', 22, 22]

In [ ]:
bicycles.pop() # removes the last item in the list
print(bicycles)

In [ ]:
# add a list!!
bicycles.append(['derailleur','shimano']) 
print(bicycles)

#YOU CAN ADD ANYTHING!!!

In [8]:
# Code for accessing the second item in the list inside the list
print(bicycles[-1][-1])

t

## Making numerical lists

In [58]:
# initialisation 
cubes = [] 

for number in range(1, 7): 
    cubes.append(number**3) 

print(cubes)

# ** operator is power

[1, 8, 27, 64, 125, 216]

In [70]:
# write code to calculate the average of numbers from 5 to 15
# the average is the sum divided by the number of elements

series = [5,6,7,8,9,10,11,12,13,14,15]
#range(5,16)

# initialisation
total = 0
count = 0

# the loop
for number in series:
    total = total + number
    count = count + 1
    
 #after the loop
average = total / count
print(average)
print(len(series))

10.0
11

In [65]:
mean = sum (series)
print (mean)

110

## len() function

In [ ]:
# the amazing Len function - aka the length of everything
#len()    
   
l = len (range(5,16))
print(l)

print( len (bicycles)) #number of items in list

print(len('guardian'))

# List comprehensions : Advanced

In [ ]:
cubes = [x**3 for x in range(1, 7)] 
print(cubes)
# equivalent to

In [ ]:
cubes = [] 
for x in range(1, 7): 
    cubes.append(x**3) 
print(cubes)

## List comprehension exercise 

Write one line of Python that takes this list and makes a new list that has only the even elements of this list in it.

In [ ]:
list = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Slicing a list

In [ ]:
finishers = ['Sue','Elliot', 'Kumiko','Damien'] 
first_two = finishers[:2] # all up to 2 but not 2
print(first_two)

In [ ]:
last_two = finishers[2:] # from 2 (included) up to end
print(last_two)

In [ ]:
f = finishers[:2] + finishers[2:]
print(f)

In [ ]:
last_two = finishers[-2:]
print(last_two)

## index() function
index function returns the first occurence in the list

In [ ]:
# want a table with the position next to the element
finishers = ['Sue','Elliot', 'Kumiko','Damien','Elliot'] 
print('Index | Finisher')
for f in finishers:
    print(finishers.index(f), ' | ',f)
# index function returns the first occurence in the list
# a.k.a. vlookup in Excel

In [ ]:
finishers = ['Sue','Elliot', 'Kumiko','Damien','Elliot'] 
L =len(finishers)
print('Index | Finisher')
for number in range(0,L):
    print(number  , ' | ',finishers[number])

Copying a list

In [ ]:
copy_of_bicycles = bicycles[:] 
print(copy_of_bicycles)

### Tuples

Tuples are similar to lists, but the items in a tuple can't be modified.

Making a tuple

In [ ]:
# tuple of numbers
dimensions = (1920, 1080)

# tuples of tuples
pushbikes= ('mountain', 'road', 'race', 'penny-farthing')

#tuple of different types of variables
hold_all = (35, 'Data Science', [1,2,3,4,5], (1,7))

print(hold_all)

# lists can be modified 
bicycles[0]='raleigh'
print(bicycles)

In [ ]:
#hold_all[0]= 34

print(hold_all[0])

### If statements are used to test for particular conditions and respond appropriately.

# if (condition) : action

In [ ]:
# If statement
age = 25
commonwealth = True
if age >= 18: 
    print("You may be able to vote")

In [ ]:
if (age >= 18 and commonwealth == True):
    print("You can vote!")

In [ ]:
#If-elif-else statements 
if age < 4: 
    price = 0
    print('Kids go free')
elif age < 18: price = 10 
elif age > 65: price = 12
else: price = 15

print(price)

Conditions

tests equals
x == 42 

not equal 
x != 42  

greater than 
x > 42 

greater than or equal to
x >= 42 

less than
x < 42 

less than or equal to
x <= 42

In [ ]:
x = 57 # i assign 57 to x
# (x<42) is  a test with a value of True of False
#print('is x smaller than 42?', x < 42)

X =(x > 42 )

print(x<42)

In [ ]:
test = 50
x = (test!= 55)

if x :
    print(x)

## Conditional test with lists 
## IN
## NOT IN

In [ ]:
print('downhill' in bicycles)

In [ ]:
print('downhill' not in bicycles)

Assigning boolean values

In [ ]:
game_active = True 
can_edit = False

if game_active or can_edit:
    print('yay')

# Exercise

Take a list of numbers
and write a program that prints out all the elements of the list that are less than 5.

In [75]:
# set list

List = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

# your code below

for x in List:
    if x < 5: 
        print(x)

1
1
2
3

In [ ]:
for x in List:
    if x < 5 : print(x)

In [76]:
# i want to put in a new list the odd numbers

# module operation % gives the remainder of division 
# div operation that performs an integer division 
print(5 % 2)
print(5 // 2)

1
2

In [78]:
odds = []
for x in List:
    if x % 2 != 0:
        odds.append(x)
print(odds)

[1, 1, 3, 5, 13, 21, 55, 89]

In [79]:
odds = []
for x in List:
    if x // 2 != x / 2:
        odds.append(x)
        
print(odds)

[1, 1, 3, 5, 13, 21, 55, 89]

In [ ]:
Result = [number for number in List if number < 5] 
print(Result)
print(len(Result))

In [ ]:
# initialisation
count = 0

for x in List:
    if x < 5 : 
        print(x)
        count = count + 1
print('numbers under 5 : ',count)

In [ ]:
# extra: create a list of random number using the
# random generator below

# Dictionaries 
they store connections between pieces of information

Each item in a dictionary is a key-value pair

Simple dictionaries {}

In [80]:
word_frequency = {'Data' : 14, 'Science': 10, 'Machine': 5, 'Learning' : 8}


real_dictionary = {'a': 'string that defines a', 'abc': 'definition of abc'}


# with different value types
car = {'make' : 'Mazda', 'model' : '3 sport', 'engine_size_cc': 2259,
       'colour': 'laser blue', 'dimensions_mm' : {'w':1795 , 'l':4465 , 'h':1465}}

Accessing a value

In [81]:
print("The car colour is " + car['colour'])
# dict[key] accesses the value in key , value pair

The car colour is laser blue

In [ ]:
#write code to retrieve the dictionary inside the dictionary

In [82]:
# retrieve the value in the dictionary inside the dictionary

print('car length is', car['dimensions_mm']['l'], 'mm')

car length is 4465 mm

In [83]:
Adding a new key-value pair
car = {'make' : 'Mazda', 'model' : '3 sport', 'engine_size_cc': 2259,
       'colour': 'laser blue', 'dimensions_mm' : {'w':1795 , 'l':4465 , 'h':1465}}

SyntaxError: invalid syntax (<ipython-input-83-d8f7d2ea43e4>, line 1)

In [84]:
car['transmission_type'] = 'automatic'
# dic[key] = value
print(car)

{'make': 'Mazda', 'model': '3 sport', 'engine_size_cc': 2259, 'colour': 'laser blue', 'dimensions_mm': {'w': 1795, 'l': 4465, 'h': 1465}, 'transmission_type': 'automatic'}

Values, Keys and Items

In [ ]:
print('list of tuples in the dictionary','\n',car.items(),'\n')

In [ ]:
print('list of keys','\n',car.keys(),'\n')

In [ ]:
print('list of values','\n',car.values(),'\n')

Looping through all keys

In [ ]:
# for keys in dictionary:

for k in car.keys(): 
    print(k + ' is a car characteristic')

Looping through all the values

In [ ]:
# write code to loop through all the values

Looping through all key-value pairs

In [ ]:
for k,v in car.items():
    print(k , 'is', v)

In [ ]:
Tuples_List = [(1,2,3) , (4,5,6) , (7,8,9)]

for a , b , c in Tuples_List:
    print(a*b/c)

In [ ]:
#Write a Python script to concatenate following dictionaries to create a new one. 

#Sample Dictionary : 
dic1={1:'Royal Dutch Shell', 2:'BP'} 
dic2={3:'Total', 4:'Volkswagen'} 
dic3={5:'Glencore Xstrata',6:'Gazprom'}

# initialisation
final_dic = dic1

In [ ]:
# Write a Python script to check if a given key already exists in a dictionary.

test_number = 7
key_in_dictionary = False

### your code ####

In [ ]:
key_in_dictionary = test_number in final_dic.keys()

if key_in_dictionary : print(test_number, ' is a key already in the dictionary')
else: print(test_number, ' is not a key already in the dictionary')

### Programs can prompt the user for input. 
All input is stored as a string. 

Prompting for a value

In [ ]:
# prompting for a value
name = input("What's your name? ") 
print("Hello, " + name + "!")

In [ ]:
# prompting for a number

age = input("How old are you? ") #return a string
age = int(age) #convert
print(age*7)

In [ ]:
pi = input("What's the value of pi? ") 
print(pi)
pi = float(pi)

# Exercise
Create a program that asks the user to enter their name and their age. Print out a message addressed to them that tells them the year that they will turn 100 years old.

In [ ]:
#initialisation
current_year = 2018

name = input("What's your name? ") 
age = input("How old are you? ") #return a string
age = int(age) #convert

wait = 100 - age
year  = current_year + wait

print("Hello,", name, 'you will turn 100 years old in', year)

In [ ]:
# Write a Python program that prompts for a month name and converts it to a number of days.
#List of months: January, February, March, April, May, June, July, August
#, September, October, November, December                                

# Example
#Input the name of Month: February                                       
#No. of days: 28/29 days

In [ ]:
y = 2011//4 # round division
z = 2011/4 # standard division
w = 2011 % 4 # modulo or remainder
print(y)
print(z)
print(w)